<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.QuestionBackend.mapper.SiteMapper">

    <select id="getSiteInfo" resultType="com.QuestionBackend.model.SiteBean">
        SELECT * FROM site
    </select>

    <select id="getSingleSite" resultType="com.QuestionBackend.model.SiteBean">
        SELECT * FROM site where siteid = #{siteId}
    </select>
</mapper>